<div class="row">
  <div class="col-md-5 col-lg-5 col-sm-12">
    <label class="h4 pl-4">Active Employees - {{ count(left.items) }}</label>
    <app-listbox [canFilter]="true" [source]="left.items | arrayFilter: left.filter" (selectionChange)="onSelectionChange(left, $event)" (filterChange)="left.filter = $event"></app-listbox>
  </div>

  <div class="col-md-2 col-lg-2 col-sm-12 center-block text-center mt-md-5">
    <button type="button"
      (click)="moveAllToRight()"
      class="btn btn-outline-primary col-md-8 col-md-offset-2 mb-3">
      <i class="fas fa-angle-double-right"></i>
    </button>
    <button type="button"
      (click)="moveSelectedToRight()"
      class="btn btn-outline-primary col-md-8 col-md-offset-2 mb-3">
      <i class="fas fa-angle-right"></i>
    </button>
    <button type="button"
      (click)="moveSelectedToLeft()"
      class="btn btn-outline-primary col-md-8 col-md-offset-2 mb-3">
      <i class="fas fa-angle-left"></i>
    </button>
    <button type="button"
      (click)="moveAllToLeft()"
      class="btn btn-outline-primary col-md-8 col-md-offset-2 mb-3">
      <i class="fas fa-angle-double-left"></i>
    </button>
  </div>

  <div class="col-md-5 col-lg-5 col-sm-12">
    <label class="h4 pl-4">Inactive Employees - {{ count(right.items) }}</label>
    <app-listbox [canFilter]="true" [source]="right.items | arrayFilter: right.filter" (selectionChange)="onSelectionChange(right, $event)" (filterChange)="right.filter = $event"></app-listbox>
  </div>
</div>
